
.sidebar {
    background-color: #222;
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.sidebar > .toggle {
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
